/* App.css */
*{ padding: 0;
  margin: 0;
  box-sizing: border-box;
;
}

body {
 background-color: #555555;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow',;
}

h1, h2 {
  text-align: center;
  margin-top: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.table {
  margin-top: 20px;
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
}

.form-container {
  margin-top: 20px;
}

.modal-content {
  padding: 20px;
}

button {
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
 
}

.card {
  border-radius: 15px; 
}

.card-title {
  font-size: 2.5rem; 
  font-weight: 700; 
}

.card-text {
  font-size: 1.25rem; 
}

.lead {
  font-weight: 500; 
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; 
}